<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false">
    <testsuites>
        <testsuite name="read_write">
            <file>testing/ReadWriteTest.php</file>
        </testsuite>
        <testsuite name="write">
            <file>testing/WriteTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <exclude>
            <file>source/ElectronicInvoiceComments.php</file>
        </exclude>
        <include>
            <directory>source</directory>
        </include>
    </source>
</phpunit>